In [1]:
%reload_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from swiss_rounds_simulator.utils import simulate_tournament, simulate_n_tournaments, compare_settings
from swiss_rounds_simulator.utils import  initiate_league, assign_opponents, play_round

New LDC format places of interest :
* The 8 first teams qualify directly to round of 16
* From 9 to 24 : pseudo round of 32
* Interesting teams : i (9th) and y(25th)  

Format :
* 36 teams,
* 8 games,
* Hat determination of the first 2 games

LoL :
* 16 teams,
* Top 8 to Quarter finales,
* 6 games (not exactly, teams with 3 win qualifies, team with 3 loss gets eliminated)

In [11]:
n_teams = 36
n_rounds = 8

lt = simulate_tournament(nb_teams=n_teams, nb_games=n_rounds, method='probabilistic', delta_level='linear', verbose = False, strategies={'i':[1]})
for i in range(n_rounds+1):
    sub_lt = lt.query(f"Nb_win == {n_rounds-i}")
    if sub_lt.shape[0] != 0:
        display(sub_lt)

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
l,11,0.694444,[],7,1,0.88,0.66,e,Win,d,...,Loss,w,Win,f,Win,b,Win,u,Win,1
u,20,0.444444,[],7,1,0.88,0.59,n,Win,ag,...,Win,f,Win,p,Win,a,Win,l,Loss,2

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
a,0,1.0,[],6,2,0.75,0.66,ae,Win,b,...,Win,c,Win,d,Win,u,Loss,p,Win,3
d,3,0.916667,[],6,2,0.75,0.64,z,Win,l,...,Win,g,Win,a,Loss,r,Win,b,Win,4
g,6,0.833333,[],6,2,0.75,0.53,t,Loss,af,...,Win,d,Loss,j,Win,m,Win,f,Win,5

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
f,5,0.861111,[],5,3,0.62,0.66,v,Win,q,...,Win,u,Loss,l,Loss,w,Win,g,Loss,6
p,15,0.583333,[],5,3,0.62,0.48,ag,Loss,aj,...,Win,h,Win,u,Loss,i,Win,a,Loss,7
b,1,0.972222,[],5,3,0.62,0.66,i,Win,a,...,Loss,r,Win,h,Win,l,Loss,d,Loss,8
m,12,0.666667,[],5,3,0.62,0.48,af,Win,t,...,Loss,ad,Win,c,Win,g,Loss,k,Win,9
r,17,0.527778,[],5,3,0.62,0.56,w,Win,s,...,Win,b,Loss,z,Win,d,Loss,ab,Win,10
c,2,0.944444,[],5,3,0.62,0.52,aj,Win,y,...,Loss,a,Loss,m,Loss,aa,Win,z,Win,11
i,8,0.777778,[1],5,3,0.62,0.50,b,Loss,ac,...,Win,e,Win,aa,Win,p,Loss,y,Win,12
q,16,0.555556,[],5,3,0.62,0.48,ah,Win,f,...,Loss,j,Loss,ad,Win,x,Win,w,Win,13

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
w,22,0.388889,[],4,4,0.5,0.56,r,Loss,ai,...,Win,l,Loss,n,Win,f,Loss,q,Loss,14
z,25,0.305556,[],4,4,0.5,0.53,d,Loss,ad,...,Win,k,Win,r,Loss,n,Win,c,Loss,15
ab,27,0.25,[],4,4,0.5,0.48,j,Loss,x,...,Loss,af,Win,e,Win,h,Win,r,Loss,16
e,4,0.888889,[],4,4,0.5,0.55,l,Loss,o,...,Loss,i,Loss,ab,Loss,af,Win,aa,Win,17
h,7,0.805556,[],4,4,0.5,0.55,x,Win,j,...,Win,p,Loss,b,Loss,ab,Loss,ae,Win,18
y,24,0.333333,[],4,4,0.5,0.45,o,Win,c,...,Loss,ai,Win,v,Win,j,Win,i,Loss,19
j,9,0.75,[],4,4,0.5,0.53,ab,Win,h,...,Win,q,Win,g,Loss,y,Loss,ac,Win,20
k,10,0.722222,[],4,4,0.5,0.45,ad,Win,aa,...,Loss,z,Loss,ag,Win,o,Win,m,Loss,21
n,13,0.638889,[],4,4,0.5,0.48,u,Loss,v,...,Win,x,Win,w,Loss,z,Loss,s,Win,22
o,14,0.611111,[],4,4,0.5,0.39,y,Loss,e,...,Win,ag,Win,s,Win,k,Loss,x,Win,23

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
aa,26,0.277778,[],3,5,0.38,0.53,ac,Win,k,...,Win,t,Win,i,Loss,c,Loss,e,Loss,24
x,23,0.361111,[],3,5,0.38,0.45,h,Loss,ab,...,Win,n,Loss,t,Win,q,Loss,o,Loss,25
s,18,0.5,[],3,5,0.38,0.44,ai,Win,r,...,Loss,ac,Win,o,Loss,v,Win,n,Loss,26
v,21,0.416667,[],3,5,0.38,0.42,f,Loss,n,...,Loss,ae,Win,y,Loss,s,Loss,aj,Win,27
ac,28,0.222222,[],3,5,0.38,0.44,aa,Loss,i,...,Loss,s,Loss,ah,Win,t,Win,j,Loss,28
ae,30,0.166667,[],3,5,0.38,0.39,a,Loss,ah,...,Loss,v,Loss,aj,Win,ad,Win,h,Loss,29
t,19,0.472222,[],3,5,0.38,0.45,g,Win,m,...,Loss,aa,Loss,x,Loss,ac,Loss,af,Win,30
ah,33,0.083333,[],3,5,0.38,0.34,q,Loss,ae,...,Loss,aj,Win,ac,Loss,ai,Win,ad,Win,31

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
af,31,0.138889,[],2,6,0.25,0.44,m,Loss,g,...,Loss,ab,Loss,ai,Win,e,Loss,t,Loss,32
ad,29,0.194444,[],2,6,0.25,0.50,k,Loss,z,...,Win,m,Loss,q,Loss,ae,Loss,ah,Loss,33
ai,34,0.055556,[],2,6,0.25,0.33,s,Loss,w,...,Win,y,Loss,af,Loss,ah,Loss,ag,Win,34
ag,32,0.111111,[],2,6,0.25,0.47,p,Win,u,...,Loss,o,Loss,k,Loss,aj,Win,ai,Loss,35

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opp,R1_res,R2_opp,...,R4_res,R5_opp,R5_res,R6_opp,R6_res,R7_opp,R7_res,R8_opp,R8_res,Rank
aj,35,0.027778,[],0,8,0.0,0.39,c,Loss,p,...,Loss,ah,Loss,ae,Loss,ag,Loss,v,Loss,36

In [12]:
simu = simulate_n_tournaments(n_tournaments=10,nb_teams=n_teams, nb_games= n_rounds, delta_level='linear')
simu

    Level Strategy  Avg_WR  Avg_Rank
d    0.92       []   0.699       5.9
b    0.97       []   0.687       7.7
p    0.58       []   0.660       8.2
a    1.00       []   0.649       8.7
k    0.72       []   0.610      10.4
c    0.94       []   0.625      11.2
n    0.64       []   0.636      11.3
h    0.81       []   0.626      12.0
i    0.78       []   0.651      12.2
j    0.75       []   0.587      12.8
s    0.50       []   0.561      14.0
l    0.69       []   0.561      14.2
o    0.61       []   0.562      14.8
e    0.89       []   0.537      15.1
q    0.56       []   0.536      15.2
m    0.67       []   0.536      15.9
f    0.86       []   0.551      15.9
g    0.83       []   0.562      17.4
r    0.53       []   0.524      18.1
t    0.47       []   0.500      18.2
x    0.36       []   0.488      18.8
y    0.33       []   0.500      18.8
z    0.31       []   0.489      19.5
u    0.44       []   0.476      20.7
aa   0.28       []   0.490      20.7
w    0.39       []   0.450      21.8
v    0.42       []   0.426      22.7
ab   0.25       []   0.415      24.9
ac   0.22       []   0.376      25.1
ad   0.19       []   0.389      25.4
af   0.14       []   0.362      26.3
ae   0.17       []   0.315      28.3
ag   0.11       []   0.302      31.5
ah   0.08       []   0.277      32.5
ai   0.06       []   0.212      33.7
aj   0.03       []   0.173      34.8

In [13]:
comp = True
if comp :
    compare_settings(n_tournaments=4, 
                 n_teams=18, 
                 n_rounds = 6, 
                 delta_level ='linear',
                 strategies={'m':[1]}, 
                 probabilistic=True, 
                 deterministic=True)

Probabilistic resolution

,Level,Strategy,Strategic_avg_WR,Strategic_avg_Rank,Control_avg_WR,Control_avg_Rank,Delta_WR,Delta_Rank
c,0.89,[],0.75,3.75,0.54,7.00,0.21,-3.25
a,1.00,[],0.75,3.75,0.58,7.25,0.16,-3.50
h,0.61,[],0.66,4.75,0.46,11.25,0.21,-6.50
d,0.83,[],0.67,5.50,0.75,2.50,-0.08,3.00
f,0.72,[],0.58,5.75,0.75,3.50,-0.17,2.25
b,0.94,[],0.54,7.50,0.79,3.25,-0.25,4.25
i,0.56,[],0.58,8.50,0.42,11.75,0.17,-3.25
l,0.39,[],0.50,8.75,0.58,7.25,-0.08,1.50
g,0.67,[],0.50,9.00,0.71,3.50,-0.21,5.50
e,0.78,[],0.54,9.25,0.58,7.50,-0.04,1.75
k,0.44,[],0.50,10.25,0.46,10.25,0.04,0.00
n,0.28,[],0.50,10.25,0.46,10.50,0.04,-0.25
j,0.50,[],0.50,11.00,0.54,8.25,-0.04,2.75
m,0.33,[1],0.42,12.25,0.42,13.50,0.00,-1.25
o,0.22,[],0.38,13.00,0.25,16.25,0.12,-3.25
q,0.11,[],0.29,14.00,0.21,15.00,0.09,-1.00
p,0.17,[],0.29,15.25,0.33,14.75,-0.04,0.50
r,0.06,[],0.04,18.00,0.16,16.50,-0.12,1.50

---------------------------------------------------
Deterministic resolution

,Level,Strategy,Strategic_avg_WR,Strategic_avg_Rank,Control_avg_WR,Control_avg_Rank,Delta_WR,Delta_Rank
a,1.00,[],1.00,1.00,1.00,1.00,0.00,0.00
b,0.94,[],0.83,2.25,0.83,2.25,0.00,0.00
c,0.89,[],0.71,3.25,0.71,3.25,0.00,0.00
d,0.83,[],0.71,3.75,0.67,4.50,0.04,-0.75
e,0.78,[],0.63,6.00,0.54,6.50,0.08,-0.50
f,0.72,[],0.58,6.25,0.63,4.75,-0.04,1.50
g,0.67,[],0.63,6.50,0.58,7.00,0.04,-0.50
h,0.61,[],0.54,8.00,0.54,8.00,0.00,0.00
i,0.56,[],0.50,8.25,0.50,9.00,0.00,-0.75
k,0.44,[],0.46,10.50,0.50,10.00,-0.04,0.50
j,0.50,[],0.50,10.75,0.46,10.50,0.04,0.25
l,0.39,[],0.42,11.50,0.50,10.25,-0.08,1.25
n,0.28,[],0.33,13.25,0.42,13.00,-0.09,0.25
m,0.33,[1],0.33,14.25,0.33,13.75,0.00,0.50
o,0.22,[],0.33,14.50,0.29,16.00,0.04,-1.50
p,0.17,[],0.33,15.75,0.33,15.00,0.00,0.75
q,0.11,[],0.17,17.00,0.17,16.75,0.00,0.25
r,0.06,[],0.00,18.00,0.00,18.00,0.00,0.00