# <span style = 'color:red'> WIP </span> Record average rank in `simulate_n_tournaments`

In [1]:
%reload_ext autoreload
%autoreload 2
import numpy as np
import pandas as pd
from swiss_rounds_simulator.utils import simulate_tournament, simulate_n_tournaments, compare_settings
from swiss_rounds_simulator.utils import  initiate_league, assign_opponents, play_round
from swiss_rounds_simulator.mwmatching import maxWeightMatching

New LDC format places of interest :
* The 8 first teams qualify directly to round of 16
* From 9 to 24 : pseudo round of 32
* Interesting teams : i (9th) and y(25th)  

Format :
* 36 teams,
* 8 games,
* Hat determination of the first 2 games

LoL :
* 16 teams,
* Top 8 to Quarter finales,
* 6 games (not exactly, teams with 3 win qualifies, team with 3 loss gets eliminated)

In [38]:
n_teams = 16
n_rounds = 6

lt = simulate_tournament(nb_teams=n_teams, nb_games=n_rounds, method='probabilistic', delta_level='linear', verbose = False)
for i in range(n_rounds+1):
    sub_lt = lt.query(f"Nb_win == {n_rounds-i}")
    if sub_lt.shape[0] != 0:
        display(sub_lt)

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opponent,R1_result,R2_opponent,R2_result,R3_opponent,R3_result,R4_opponent,R4_result,R5_opponent,R5_result,R6_opponent,R6_result,Rank
c,2,0.875,[],6,0,1.0,0.53,o,Win,i,Win,e,Win,m,Win,d,Win,g,Win,1

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opponent,R1_result,R2_opponent,R2_result,R3_opponent,R3_result,R4_opponent,R4_result,R5_opponent,R5_result,R6_opponent,R6_result,Rank
d,3,0.8125,[],4,2,0.67,0.58,g,Loss,n,Win,a,Win,e,Win,c,Loss,k,Win,2
e,4,0.75,[],4,2,0.67,0.56,n,Win,l,Win,c,Loss,d,Loss,h,Win,m,Win,3
a,0,1.0,[],4,2,0.67,0.53,i,Loss,b,Win,d,Loss,l,Win,j,Win,f,Win,4
m,12,0.25,[],4,2,0.67,0.58,k,Win,f,Win,j,Win,c,Loss,i,Win,e,Loss,5
b,1,0.9375,[],4,2,0.67,0.44,j,Loss,a,Loss,o,Win,n,Win,g,Win,i,Win,6

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opponent,R1_result,R2_opponent,R2_result,R3_opponent,R3_result,R4_opponent,R4_result,R5_opponent,R5_result,R6_opponent,R6_result,Rank
i,8,0.5,[],3,3,0.5,0.64,a,Win,c,Loss,l,Win,j,Win,m,Loss,b,Loss,7
j,9,0.4375,[],3,3,0.5,0.53,b,Win,g,Win,m,Loss,i,Loss,a,Loss,o,Win,8
f,5,0.6875,[],3,3,0.5,0.42,p,Win,m,Loss,h,Loss,k,Win,l,Win,a,Loss,9
g,6,0.625,[],3,3,0.5,0.58,d,Win,j,Loss,k,Win,h,Win,b,Loss,c,Loss,10

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opponent,R1_result,R2_opponent,R2_result,R3_opponent,R3_result,R4_opponent,R4_result,R5_opponent,R5_result,R6_opponent,R6_result,Rank
l,11,0.3125,[],2,4,0.33,0.47,h,Win,e,Loss,i,Loss,a,Loss,f,Loss,p,Win,11
n,13,0.1875,[],2,4,0.33,0.44,e,Loss,d,Loss,p,Win,b,Loss,o,Loss,h,Win,12
k,10,0.375,[],2,4,0.33,0.44,m,Loss,o,Win,g,Loss,f,Loss,p,Win,d,Loss,13
h,7,0.5625,[],2,4,0.33,0.42,l,Loss,p,Win,f,Win,g,Loss,e,Loss,n,Loss,14

,Id,Level,Strategy,Nb_win,Nb_loss,Win_rate,OWR,R1_opponent,R1_result,R2_opponent,R2_result,R3_opponent,R3_result,R4_opponent,R4_result,R5_opponent,R5_result,R6_opponent,R6_result,Rank
p,15,0.0625,[],1,5,0.17,0.33,f,Loss,h,Loss,n,Loss,o,Win,k,Loss,l,Loss,15
o,14,0.125,[],1,5,0.17,0.50,c,Loss,k,Loss,b,Loss,p,Loss,n,Win,j,Loss,16

In [22]:
comp = False
if comp :
    compare_settings(n_tournaments=100, 
                 n_teams=36, 
                 n_rounds = 8, 
                 delta_level ='linear',
                 strategies={'i':[1]}, 
                 probabilistic=True, 
                 deterministic=True)